<% include partials/header %>

<div class="PhotosListContainer">
  <p>Choose Photo:</p>
  <ul class="PhotosList">
  </ul>
</div>

<div class="PhotoPreview">
  <div class="Thumb rectangle"></div>
  <!-- <div class="Thumb Tower"></div> -->
  <div class="Thumb square"></div>
  <div class="Thumb circle"></div>
</div>

<% include partials/footer %>
