<% include partials/header %>

<div class="PhotosListContainer">
  <p>Choose Photo:</p>
  <ul class="PhotosList">
  </ul>
</div>

<div class="PhotoPreview">
  <div class="Thumb Rectangle"></div>
  <!-- <div class="Thumb Tower"></div> -->
  <div class="Thumb Square"></div>
  <div class="Thumb Circle"></div>
</div>

<% include partials/footer %>
