<% include partials/header %>

<div class="PhotosListContainer">
  <p>Choose Photo:</p>
  <ul class="PhotosList">
  </ul>
</div>

<div class="PhotoPreview">
  <!--
  <div class="Thumb rectangle"></div>
  <div class="Thumb square"></div>
  <div class="Thumb circle"></div>
  -->
  <div class="ProductPhotoCont">
    <div class="ProductPhotoMask Square">
      <div class="ProductPhoto" id="photo_square"></div>
    </div>
  </div>
  <div class="ProductPhotoCont">
    <div class="ProductPhotoMask Rectangle">
      <div class="ProductPhoto" id="photo_rectangle"></div>
    </div>
  </div>
  <div class="ProductPhotoCont Circle">
    <div class="ProductPhotoMask Circle">
      <div class="ProductPhoto" id="photo_circle"></div>
    </div>
  </div>
</div>

<div class="CropSelectorsContainer"></div>

<% include partials/footer %>
