<% include partials/header %>

<div class="PhotosListContainer">
  <div class="SectionTitle">Product</div>
  <ul class="PhotosList">
  </ul>
</div>

<div class="CropSelectorsContainer">
  <div class="SectionTitle">Crop</div>
</div>

<div class="PhotoPreview">
  <div class="SectionTitle">Preview</div>
  <div class="ProductPhotoCont">
    <div class="ProductPhotoMask Rectangle">
      <div class="ProductPhoto" id="photo_rectangle"></div>
    </div>
  </div>
  <div class="ProductPhotoCont">
    <div class="ProductPhotoMask Square">
      <div class="ProductPhoto" id="photo_square"></div>
    </div>
  </div>
  <div class="ProductPhotoCont Circle">
    <div class="ProductPhotoMask Circle">
      <div class="ProductPhoto" id="photo_circle"></div>
    </div>
  </div>
</div>

<% include partials/footer %>
