html {
  font-size: 10px;
  font-family: Avenir-Medium, AvenirNext-Medium Avenir, Arial, sans-serif, serif;
  color: #000;
}
body,
p {
  font-size: 1.5rem;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
p {
  line-height: 140%;
  margin: -0.5em 0 1em 0;
  text-align: left;
  cursor: default;
}
a,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: #2d2926;
}
strong {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
  padding: 0 0;
  font-size: 1rem;
  font-family: Avenir, Arial, sans-serif;
  font-weight: normal;
  line-height: 130%;
  position: relative;
  cursor: default;
}
h1 {
  font-family: serif;
  font-size: 3rem;
  margin: 7rem 4rem 0 4rem;
  font-size: 4rem;
  width: 75%;
}
@media (min-width: 62em) {
  h1 {
    width: 60%;
    font-size: 6rem;
  }
}
h2 {
  font-size: 2.6rem;
  font-family: serif;
}
.Caption {
  font-size: 1.1rem;
  font-family: Avenir, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.WhiteText {
  color: #fff;
}
.Italic {
  font-style: italic;
}
.BlackText {
  color: #000;
}
.op50 {
  opacity: 0.5;
}
button,
.submitButton {
  background: #fff;
  padding: 5px 2rem;
  color: #000;
  border-radius: 3px;
  border: 1px solid #000;
  outline: none;
  font-family: Avenir-Medium, AvenirNext-Medium Avenir, Arial, sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 200ms ease-out;
  -webkit-appearance: none;
}
button.filled,
button:hover,
.submitButton:hover {
  background: #000;
  color: #fff;
}
.followButton {
  border-color: #ff4f27;
  color: #ff4f27;
  padding: 5px 1rem 5px 2.7rem;
  background: url("_img/bolt.svg") no-repeat;
  background-size: 11px;
  background-position: 9px 8px;
}
.followButton {
  border-color: #ff4f27;
  color: #ff4f27;
  padding: 5px 1rem 5px 2.7rem;
  background-image: url("_img/bolt.svg");
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: 9px 8px;
}
.followButton.filled,
.followButton:hover {
  color: #fff;
  background-color: #ff4f27;
  background-image: url("_img/bolt_white.svg");
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: 9px 8px;
}
.mb0 {
  margin-bottom: 4px;
}
.mb1 {
  margin-bottom: 8px;
}
.mb2 {
  margin-bottom: 16px;
}
.mb3 {
  margin-bottom: 24px;
}
.mb4 {
  margin-bottom: 32px;
}
.mb5 {
  margin-bottom: 40px;
}
.mb6 {
  margin-bottom: 48px;
}
.mb7 {
  margin-bottom: 56px;
}
.mb8 {
  margin-bottom: 64px;
}
.mb9 {
  margin-bottom: 72px;
}
.mb10 {
  margin-bottom: 80px;
}
.mb11 {
  margin-bottom: 88px;
}
.mb12 {
  margin-bottom: 96px;
}
.mb13 {
  margin-bottom: unit13;
}
.mb14 {
  margin-bottom: unit14;
}
.mb15 {
  margin-bottom: unit15;
}
@media (min-width: 62em) {
  .d-mb0 {
    margin-bottom: 4px;
  }
  .d-mb1 {
    margin-bottom: 8px;
  }
  .d-mb2 {
    margin-bottom: 16px;
  }
  .d-mb3 {
    margin-bottom: 24px;
  }
  .d-mb4 {
    margin-bottom: 32px;
  }
  .d-mb5 {
    margin-bottom: 40px;
  }
  .d-mb6 {
    margin-bottom: 48px;
  }
  .d-mb7 {
    margin-bottom: 56px;
  }
  .d-mb8 {
    margin-bottom: 64px;
  }
  .d-mb9 {
    margin-bottom: 72px;
  }
  .d-mb10 {
    margin-bottom: 80px;
  }
  .d-mb11 {
    margin-bottom: 88px;
  }
  .d-mb12 {
    margin-bottom: 96px;
  }
  .d-mb13 {
    margin-bottom: unit13;
  }
  .d-mb14 {
    margin-bottom: unit14;
  }
  .d-mb15 {
    margin-bottom: unit15;
  }
}
.mt0 {
  margin-top: 4px;
}
.mt1 {
  margin-top: 8px;
}
.mt2 {
  margin-top: 16px;
}
.mt3 {
  margin-top: 24px;
}
.mt4 {
  margin-top: 32px;
}
.mt5 {
  margin-top: 40px;
}
.mt6 {
  margin-top: 48px;
}
.mt7 {
  margin-top: 56px;
}
.mt8 {
  margin-top: 64px;
}
.mt9 {
  margin-top: 72px;
}
.mt10 {
  margin-top: 80px;
}
@media (min-width: 62em) {
  .d-mt0 {
    margin-top: 4px;
  }
  .d-mt1 {
    margin-top: 8px;
  }
  .d-mt2 {
    margin-top: 16px;
  }
  .d-mt3 {
    margin-top: 24px;
  }
  .d-mt4 {
    margin-top: 32px;
  }
  .d-mt5 {
    margin-top: 40px;
  }
  .d-mt6 {
    margin-top: 48px;
  }
  .d-mt7 {
    margin-top: 56px;
  }
  .d-mt8 {
    margin-top: 64px;
  }
  .d-mt9 {
    margin-top: 72px;
  }
  .d-mt10 {
    margin-top: 80px;
  }
}
.ml0 {
  margin-left: 4px;
}
.ml1 {
  margin-left: 8px;
}
.ml2 {
  margin-left: 16px;
}
.ml3 {
  margin-left: 24px;
}
.ml4 {
  margin-left: 32px;
}
.ml5 {
  margin-left: 40px;
}
.ml6 {
  margin-left: 48px;
}
.ml7 {
  margin-left: 56px;
}
.ml8 {
  margin-left: 64px;
}
.ml9 {
  margin-left: 72px;
}
.ml10 {
  margin-left: 80px;
}
.ml11 {
  margin-left: 88px;
}
.ml12 {
  margin-left: 96px;
}
.ml13 {
  margin-left: unit13;
}
.ml14 {
  margin-left: unit14;
}
.ml15 {
  margin-left: unit15;
}
.pb0 {
  padding-bottom: 4px;
}
.pb1 {
  padding-bottom: 8px;
}
.pb2 {
  padding-bottom: 16px;
}
.pb3 {
  padding-bottom: 24px;
}
.pb4 {
  padding-bottom: 32px;
}
.pb5 {
  padding-bottom: 40px;
}
.pb6 {
  padding-bottom: 48px;
}
.pb7 {
  padding-bottom: 56px;
}
.pb8 {
  padding-bottom: 64px;
}
.pb9 {
  padding-bottom: 72px;
}
.pb10 {
  padding-bottom: 80px;
}
.pt0 {
  padding-top: 4px;
}
.pt1 {
  padding-top: 8px;
}
.pt2 {
  padding-top: 16px;
}
.pt3 {
  padding-top: 24px;
}
.pt4 {
  padding-top: 32px;
}
.pt5 {
  padding-top: 40px;
}
.pt6 {
  padding-top: 48px;
}
.pt7 {
  padding-top: 56px;
}
.pt8 {
  padding-top: 64px;
}
.pt9 {
  padding-top: 72px;
}
.pt10 {
  padding-top: 80px;
}
.AlignCenter {
  align-items: center;
}
.AlignTop {
  align-items: flex-start;
}
.ShowDesktop {
  display: none;
}
@media (min-width: 62em) {
  .ShowDesktop {
    display: inline;
  }
}
.ShowMobile {
  display: inline;
}
@media (min-width: 62em) {
  .ShowMobile {
    display: none;
  }
}
.op50 {
  opacity: 0.5;
}
.op30 {
  opacity: 0.3;
}
html {
  min-height: 100%;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  background: #f7f7f7;
  display: flex;
}
.hidden {
  display: none;
  opacity: 0;
}
img {
  max-width: 100%;
}
.PhotosListContainer {
  width: 350px;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  background: #fff;
  z-index: 5;
}
.PhotosListContainer p {
  padding: 24px 16px;
}
.PhotosList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.PhotosList li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 16px;
  width: 100%;
  cursor: pointer;
}
.PhotoPreview {
  display: block;
  width: calc(100% - 350px);
  margin-left: 350px;
  padding: 50px;
}
.Thumb {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0,0,0,0.1);
  margin-bottom: 50px;
}
.Thumb.square {
  width: 375px;
  height: 375px;
}
.Thumb.rectangle {
  width: 666.7px;
  height: 375px;
}
.Thumb.circle {
  width: 148px;
  height: 148px;
  border-radius: 100000px;
  display: block;
}
.CropSelectorsContainer {
  width: 250px;
}
.ControllerGroup {
  margin-bottom: 1rem;
}
@media (min-width: 1000px) {
  .ControllerGroup {
    float: left;
    width: 250px;
    margin-right: 50px;
  }
  .ControllerGroup.Circle {
    width: 400px;
  }
  .ControllerGroup.Rectangle {
    width: 100px;
  }
  .ControllerGroup.Square {
    width: 100px;
  }
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 13px;
  font-family: AvenirNext-Regular, Avenir;
  display: inline-block;
  width: calc(50% - 5px);
}
@media (min-width: 1000px) {
  .control {
    width: 140px;
  }
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: -3px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #edebe9;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #edebe9;
}
.control input:checked ~ .control__indicator {
  background: #00af66;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #00af66;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px 10px 0px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: AvenirNext-DemiBold;
  font-size: 15px;
  color: #000;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 0px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
